### Naive Bayes use lookup table (set of probabilities) at the time of taining phase

In [13]:
import numpy as np
import pandas as pd

In [14]:
data=pd.read_csv('play_tennis.csv')
data.head()
data.drop(columns=['day'],inplace=True)
data

     outlook  temp humidity    wind play
0      Sunny   Hot     High    Weak   No
1      Sunny   Hot     High  Strong   No
2   Overcast   Hot     High    Weak  Yes
3       Rain  Mild     High    Weak  Yes
4       Rain  Cool   Normal    Weak  Yes
5       Rain  Cool   Normal  Strong   No
6   Overcast  Cool   Normal  Strong  Yes
7      Sunny  Mild     High    Weak   No
8      Sunny  Cool   Normal    Weak  Yes
9       Rain  Mild   Normal    Weak  Yes
10     Sunny  Mild   Normal  Strong  Yes
11  Overcast  Mild     High  Strong  Yes
12  Overcast   Hot   Normal    Weak  Yes
13      Rain  Mild     High  Strong   No

In [15]:
data['play'].value_counts()

Yes    9
No     5
Name: play, dtype: int64

In [16]:
py=9/14
pn=5/14
print(py)
print(pn)

0.6428571428571429
0.35714285714285715

In [17]:
# outlook
pd.crosstab(data['outlook'],data['play'])

play      No  Yes
outlook
Overcast   0    4
Rain       2    3
Sunny      3    2

In [18]:
Pon=0
Prn=2/5
Psn=3/5

Poy=4/9
Pry=3/9
Psy=2/9

In [19]:
# temp
pd.crosstab(data['temp'],data['play'])

play  No  Yes
temp
Cool   1    3
Hot    2    2
Mild   2    4

In [20]:
PCoolNo=1/5
PHotNo=2/5
PMildNo=2/5

PCoolYes=3/9
PHotYes=2/9
PMildYes=4/9

In [21]:
# humidity
pd.crosstab(data['humidity'],data['play'])

play      No  Yes
humidity
High       4    3
Normal     1    6

In [22]:
PHighNo=4/5
PNormalNo=1/5

PHighYes=3/9
PNormalYes=6/9

In [23]:
# wind
pd.crosstab(data['wind'],data['play'])

play    No  Yes
wind
Strong   3    3
Weak     2    6

In [24]:
PStrongNo=3/5
PWeakNo=2/5

PStrongYes=3/9
PWeakYes=6/9

#### Problem-1 
- Outlook=Sunny, Tem=Hot, Humidity=High, Wind=Weak
- Play or NoPlay ?

In [25]:
# solution

# P(Yes|Sunny,Hot,High,Weak) = P(Sunny|Yes)*P(Hot|Yes)*P(High|Yes)*P(Weak|Yes)*p(Yes)
# P(No|Sunny,Hot,High,Weak) = P(Sunny|No)*P(Hot|No)*P(High|No)*P(Weak|No)*p(No)

# Compare and decide using the Maximum a Posterior (MAP) rule

In [26]:
Pyes=py*Psy*PHotYes*PHighYes*PWeakYes
print(Pyes)

0.007054673721340388

In [28]:
Pno=pn*Psn*PHotNo*PHighNo*PWeakNo
print(Pno)

0.02742857142857143

In [ ]:
# Hence Output is No play Because Pno>Pyes